
<!--@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
}
.ushmat1 {
  width: 100%;
  height: 120%;
  background-image: linear-gradient(to top left, #1b1919 0%, #9645aa 100%);
}
.lmush1 img {
  max-width: 6%;
  max-height: 6%;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
 
}
.titushm1 {
  text-transform: uppercase;
  display: block;
  color: rgb(255, 255, 255);
  background-color: #3f2b86e8;
  width: 100%;
  height: 40px;

 


}
.titushm1 h1 {
  font-family: cursive;
  margin-left: 32%;
}
.mainushm1 {
  width: 80%;
  height: 80%;

  margin-left: 10%;
}
.mainushm1 ul {
  padding-left: 4%;
  padding-top: 7%;
}
.mainushm1 ul li {
  padding-left: 15%;
}
.mainushm1 button {
  background-color: #3f2b86e8;
  color: whitesmoke;
  border: 2px solid rgb(250, 250, 250);
  margin-top: 5%;
  border-radius: 25px;
  width: 60px;
  height: 45px;
  margin-left: 30%;
  transition: 0.6s;
}
.mainushm1 button:hover {
  border: 2px solid #3f2b86e8;
  background-color: rgb(250, 250, 250);
  color: #3f2b86e8;
}
.mainushm1 input {
  width: 43px;
  height: 43px;
  border-radius: 30px;
  border: 2px solid rgb(59, 10, 100);
  padding-left: 3%;
}
.ulmat11,
.ulmat21 {
  display: flex;
  list-style: none;
}

.tmu11 {
  background-color: #3f2b86e8;
  color: white;
  width: 210px;
  height: 20px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 8px;
  padding-left: 42px;
  padding-top: 4px;
}

.liushm1 {
  background-color: #db39d6e8;
  width: 250px;
  border-radius: 25px;
  margin-bottom: 12%;
  height: 255px;
  display: block;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
}
.tmfoto2 img {
    max-width: 50%;
    max-height: 50%;
  
    margin-top: 2%;
    margin-left: 22%;
  }
  .tmfoto1 img {
    max-width: 35%;
    max-height: 35%;
  
    margin-top: 2%;
    margin-left: 30%;
  }
.inp1{
    margin-left: 6%; 
}
#btnora{
margin-top: 2%;
width: 35%;
height: 13%;

}
#inmuaji1{


    margin-top: 24%;
    width: 28%;
    margin-left: 14%;
}
#inmuaji2{


 
    width: 25%;
}


#btnmuaji{
    margin-right: 10%;
    width: 35%;
}



.bem1{
    display: flex;
    margin-right: 95%;
    margin-top: 11%;
    display: relative;
}
.bem2{
    display: flex;
    margin-right: 95%;
    margin-top: 8%;
}


#btnjava{
  width: 31%;  
  margin-top: -14%;
  margin-left: 1%;
  
}


.injava1{
    margin-top: 12%;
}
.injava1 input{
   width: 27%;
}
.injava2{
    margin-top: 12%;
}



/* Stilizimi i headerit */
.header {
  width: 100%;
  height: 20px;
  display: inline-table;
  background: rgba(250, 248, 248, 0.95);
}
header.sticky {
  width: 100%;
  height: 20px;
  background: rgba(250, 248, 248, 0.95);
  
}
header.sticky ul li a {
  color: #111010;
}

/* Futja e logos dhe percaktimi i saj ne te majte */
.logo_container img {
  float: left;
  display: block;
  width: 100px;
  margin-left: 2%;
  margin-top: 1%;
}
/* Stilizimi i navigation total */
.nav {
  float: right;
  height: 100%;
  margin-right: 50px;
}

/* Stilizimi i listave tek nav */

.nav li {
  height: 100%;
  display: inline-table;
  float: left;
  padding: 0px 20px;
  margin-top: 3.5%;
}
/* Stilizimi i elementeve te listes */
.nav li a {
  vertical-align: middle;
  color: #111010;
  font-family: "lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.6s;
}

/* venia e ngjyres elementeve te listes ne momentin qe vendos mausin siper */
.nav li a:hover {
  color: rgb(253, 113, 113);
  text-decoration: underline;
  text-underline-offset: 12px;

  text-decoration-color: rgb(253, 113, 113);
}



/*

Shfaqjen e informacionit

Shfaqjen e informacionit


Shfaqjen e informacionit
Shfaqjen e informacionit


*/

#btnmodal {
  width: 155px;
  height: 55px;
  margin-left: 22%;
  margin-top: 1%;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.modal p {
  font-size: 1.8rem;
}

/* -------------------------- */

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 6;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 155%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}



/*    
Per pjesen e saktesise ne %
*/

.saktesia {
  margin-left: 16%;
  margin-top: 5%;
  font-size: 19px;
  color: white;
  margin-top: 2%;
}

#resets {
  margin-left: 16.5%;
  margin-top: -8%;
}
